asgiref               3.8.1
Authlib               1.3.2
beautifulsoup4        4.12.3
bidict                0.23.1
blinker               1.8.2
certifi               2024.8.30
cffi                  1.17.0
charset-normalizer    3.3.2
click                 8.1.7
colorama              0.4.6
contourpy             1.3.0
cryptography          43.0.0
cycler                0.12.1
dash                  2.18.0
dash_auth             2.3.0
dash-core-components  2.0.0
dash-html-components  2.0.0
dash-leaflet          1.0.15
dash-table            5.0.0
Django                5.1.1
dnspython             2.6.1
docutils              0.21.2
email_validator       2.2.0
Flask                 3.0.3
Flask-Cors            5.0.0
Flask-Login           0.6.3
Flask-Mail            0.10.0
flask-sock            0.7.0
Flask-SocketIO        5.4.1
Flask-SQLAlchemy      3.1.1
Flask-WTF             1.2.1
fonttools             4.54.1
google                3.0.0
greenlet              3.0.3
gunicorn              23.0.0
h11                   0.14.0
httplib2              0.22.0
idna                  3.8
image                 1.5.33
importlib_metadata    8.4.0
itsdangerous          2.2.0
jaraco.classes        3.4.0
jaraco.context        6.0.1
jaraco.functools      4.1.0
Jinja2                3.1.4
joblib                1.4.2
keyring               25.4.1
kiwisolver            1.4.7
lib                   4.0.0
login                 0.0.6
markdown-it-py        3.0.0
MarkupSafe            2.1.5
matplot               0.1.9
matplotlib            3.9.2
mdurl                 0.1.2
more-itertools        10.5.0
mysql                 0.0.3
mysql-connector       2.2.9
mysqlclient           2.2.4
nest-asyncio          1.6.0
nh3                   0.2.18
numpy                 2.1.1
oauth2                1.9.0.post1
oauthlib              3.2.2
opencv-python         4.10.0.84
packaging             24.1
pandas                2.2.2
phonenumbers          8.13.45
pillow                10.4.0
pip                   24.2
pkginfo               1.10.0
plotly                5.24.0
pycparser             2.22
Pygments              2.18.0
pyloco                0.0.139
pyparsing             3.1.4
PyQt5                 5.15.11
PyQt5-Qt5             5.15.2
PyQt5_sip             12.15.0
python-dateutil       2.9.0.post0
python-engineio       4.9.1
python-socketio       5.11.4
pytz                  2024.2
pywin32-ctypes        0.2.3
readme_renderer       44.0
requests              2.32.3
requests-oauthlib     2.0.0
requests-toolbelt     1.0.0
retrying              1.3.4
rfc3986               2.0.0
rich                  13.8.1
scikit-learn          1.5.1
scipy                 1.14.1
setuptools            74.1.2
simple-websocket      1.0.0
SimpleWebSocketServer 0.1.2
six                   1.16.0
soupsieve             2.6
SQLAlchemy            2.0.34
sqlparse              0.5.1
tenacity              9.0.0
threadpoolctl         3.5.0
twine                 5.1.1
typing                3.7.4.3
typing_extensions     4.12.2
tzdata                2024.1
urllib3               2.2.2
ushlex                0.99.1
websocket-client      1.8.0
Werkzeug              3.0.4
wsproto               1.2.0
WTForms               3.1.2
zipp                  3.20.1